---
apiVersion: v1
kind: Config
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: {{ api_server }}
  name: cluster.local
contexts:
- context:
    cluster: cluster.local
    namespace: default
    user: {{ admin_name }}
users:
- name: {{ admin_name }}
  user:
    client-certificate: kubecfg.crt
    client-key: kubecfg.key