apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ pv_name }}
  namespace: {{ namespace }}
  labels:
    type: {{ pv_name }}
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  nfs:
    path: {{ pv_path }}
    server: {{ nfs_server }}

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ pvc_name }}
  namespace: {{ namespace }}
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
  selector:
    matchLabels:
      type: {{ pv_name }}