apiVersion: v1
kind: PersistentVolume
metadata:
  name: kafka-my-bai-pv-0
spec:
  accessModes:
  - ReadWriteOnce
  capacity:
    storage: 4Gi
  nfs:
    path: "{{ pv_root_folder }}/kafka-my-bai-pv-0"
    server: "{{ nfs_server }}"
  persistentVolumeReclaimPolicy: Recycle

---

apiVersion: v1
kind: PersistentVolume
metadata:
  name: kafka-my-bai-pv-1
spec:
  accessModes:
  - ReadWriteOnce
  capacity:
    storage: 4Gi
  nfs:
    path: "{{ pv_root_folder }}/kafka-my-bai-pv-1"
    server: "{{ nfs_server }}"
  persistentVolumeReclaimPolicy: Recycle

---

apiVersion: v1
kind: PersistentVolume
metadata:
  name: kafka-my-bai-pv-2
spec:
  accessModes:
  - ReadWriteOnce
  capacity:
    storage: 4Gi
  nfs:
    path: "{{ pv_root_folder }}/kafka-my-bai-pv-2"
    server: "{{ nfs_server }}"
  persistentVolumeReclaimPolicy: Recycle

---

apiVersion: v1
kind: PersistentVolume
metadata:
  name: kafka-my-bai-pv-3
spec:
  accessModes:
  - ReadWriteOnce
  capacity:
    storage: 4Gi
  nfs:
    path: "{{ pv_root_folder }}/kafka-my-bai-pv-3"
    server: "{{ nfs_server }}"
  persistentVolumeReclaimPolicy: Recycle

---

apiVersion: v1
kind: PersistentVolume
metadata:
  name: kafka-my-bai-pv-4
spec:
  accessModes:
  - ReadWriteOnce
  capacity:
    storage: 4Gi
  nfs:
    path: "{{ pv_root_folder }}/kafka-my-bai-pv-4"
    server: "{{ nfs_server }}"
  persistentVolumeReclaimPolicy: Recycle

---

apiVersion: v1
kind: PersistentVolume
metadata:
  name: kafka-my-bai-pv-5
spec:
  accessModes:
  - ReadWriteOnce
  capacity:
    storage: 4Gi
  nfs:
    path: "{{ pv_root_folder }}/kafka-my-bai-pv-5"
    server: "{{ nfs_server }}"
  persistentVolumeReclaimPolicy: Recycle