apiVersion: v1
kind: PersistentVolume
metadata:
  name: ibm-bai-pv
  labels:
    type: ibm-bai-pv
spec:
  accessModes:
  - ReadWriteMany
  capacity:
    storage: 20Gi
  nfs:
    path: {{ pv_root_folder }}/bai-pv
    server: {{ nfs_server }}
  persistentVolumeReclaimPolicy: Retain
  claimRef:
    namespace: {{ namespace }}
    name: ibm-bai-pvc
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: ek-pv-1
spec:
  accessModes:
  - ReadWriteOnce
  capacity:
    storage: 10Gi
  nfs:
    path: {{ pv_root_folder }}/ek-pv-1
    server: {{ nfs_server }}
  persistentVolumeReclaimPolicy: Recycle
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: ek-pv-2
spec:
  accessModes:
  - ReadWriteOnce
  capacity:
    storage: 10Gi
  nfs:
    path: {{ pv_root_folder }}/ek-pv-2
    server: {{ nfs_server }}
  persistentVolumeReclaimPolicy: Recycle
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: ek-pv-3
spec:
  accessModes:
  - ReadWriteOnce
  capacity:
    storage: 10Gi
  nfs:
    path: {{ pv_root_folder }}/ek-pv-3
    server: {{ nfs_server }}
  persistentVolumeReclaimPolicy: Recycle
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: es-snapshot-pv
  labels:
    type: es-snapshot-pv
spec:
  accessModes:
  - ReadWriteMany
  capacity:
    storage: 30Gi
  nfs:
    path: {{ pv_root_folder }}/es-snapshot-pv
    server: {{ nfs_server }}
  persistentVolumeReclaimPolicy: Retain
  claimRef:
    namespace: {{ namespace }}
    name: es-snapshot-pvc
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: ibm-bai-pvc
  namespace: {{ namespace }}
spec:
  storageClassName: ""
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 20Gi
  selector:
    matchLabels:
      type: ibm-bai-pv
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: es-snapshot-pvc
  namespace: {{ namespace }}
spec:
  storageClassName: ""
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 30Gi
  selector:
    matchLabels:
      type: es-snapshot-pv